@import url('https://fonts.googleapis.com/css2?family=Langar&family=Mouse+Memoirs&display=swap');
body {
    font-family: 'Langar', cursive;
    margin:0px;
}
:root{
   --primary-color:#fbc34b;
   --dark-grey: #1c1c1c;
}
.container-center {
    max-width: 600px;
    margin: auto;
}
.navigation {
    background-color: var(--primary-color);
    padding: 1rem;
    
}

.navigation h1{
    font-weight: bold;
    font-size:2rem;
    text-align: center;
    color:var(--dark-grey); 
}


#txt-input{
    display:block;
    width:80%;
    padding:2rem;
    height:10vh;
    border:2px solid black;
    font-size:1.2rem;
    margin-top:1rem;
    margin-bottom:1rem;
    font-family: 'Langar', cursive;
}

#btn-translate{
    padding:0.8rem 1rem;
    margin-bottom:1rem;
    border-radius:0.5rem;
    background-color:var(--primary-color);
    color:black;
    border:none;
    font-family: 'Langar', cursive;
    cursor:pointer;
    font-size:1rem;
    
}
#output-heading{
    font-size:1.2rem;
    color:var(--dark-grey);
}
#output{
    display:block;
    width:80%;
    border:2px solid black;
    height:10vh;
    padding:2rem;
    font-size:1rem;
    margin-top:1rem
}



/* footer */
.footer{
    background-color:var(--primary-color);
    padding:0.5rem;
    text-align:center;
    margin-top:1rem;
    color:var(--dark-grey);
}

.footer-header{
    font-weight:bold;
    font-size:1.5rem;    
}

#footer-para{
    font-size:1.2rem;
    margin:auto;
    
    
}